.bigimg {
   position: absolute;
   width: 150px;
   height: 150px;
   left: 112px;
   top: 90px;
   border: 1px solid #E5E5E5;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name {
    position: absolute;
    width: 361px;
    height: 64px;
    left: 100px;
    top: 255px;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
}

.bio {
   position: absolute;
   width: 206px;
   height: 32px;
   left: 140px;
   top: 300px;
   font-family: Yu Gothic UI;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: normal;
}

.abp {
 	 position: absolute;
     width: 269px;
     height: 32px;
     left: 128px;
     top: 400px;
     font-family: Yu Gothic UI;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: normal;
}

.one {
	position: absolute;
    width: 45px;
    height: 45px;
    left: 112px;
    top: 600px;
}

.two {
	position: absolute;
    width: 45px;
    height: 45px;
    left: 165px;
    top: 600px;
}

.three {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 213px;
    top: 600px;
}

.line {
    width: 905.01px;
    height: 0px;
    left: 566px;
    top: 60px;
    border: 1px solid #000000;
    transform: rotate(89.74deg);
}

.aboutme {
	position: absolute;
    width: 234px;
    height: 64px;
    left: 632px;
    top: 90px;

    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
}

.p1 {
	position: absolute;
    width: 700px;
    height: 96px;
    left: 632px;
    top: 233px;

    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
}